

/* Send To Phone
---------------------------------------------------------------------------------*/
.sendtophone-bg-wrapper {
}
#sendtophone {
   -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;	
}
.send-to-phone-wrapper {
	width:300px;
	margin:0 auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.send-to-phone {
}
.phone-top {
	position:relative;
}
.phone-disable-keypress {
	height:73px;
	width:297px;
	position:absolute;
	top:0;
	left:0;
	z-index:1000;
}
.buttons-wrapper {
	width:300px;
	height:268px;
	background-color:#fff;
	border-right:1px solid #2d3136;
}
.phone-button {
	float:left;
	text-align:center;
	border-bottom:1px solid #000;
	border-left:1px solid #2d3136;
	border-right:1px solid #151b22;
	position:relative;	
}
.phone-button-fix {
	float:left;
	text-align:center;
	border-bottom:1px solid #000;
	border-left:1px solid #2d3136;
	border-right:1px solid #151b22;
	position:relative;	
	height:66px;
	width:105px;
	background:url(/sendtophone/bg-keypad.gif) repeat-x;	
}
.phone-button p {
	color:#FFF;
	font-size:30px;
	padding-top:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	line-height:23px;
}
.phone-button span {
	color:#878b90;
	font-size:14px;
	text-shadow:0px -1px 0px #000;
	font-family:Arial, Helvetica, sans-serif;
}

.phone-button a:link, .phone-button a:visited {
	text-decoration:none;
	display:block;
	height:66px;
	width:98px;
	background:url(/sendtophone/bg-keypad.gif) repeat-x;
}
.phone-button a:hover {
	background:url(/sendtophone/bg-keypad2.gif) repeat-x;
	text-decoration:none;
}
.phone-button a:active {
	background-image:none;
	background-color:#3559c3;
}
.phone-button a:hover span  {color:#9ac2fa;}
.phone-button a:active p  {text-shadow:0px 0px 5px #000;}

.phone-star {
	height:24px;
	width:25px;
	background:url(/sendtophone/phone-star.png) no-repeat;
	margin:0 auto 2px auto;
}
.phone-pound {
	height:24px;
	width:25px;
	background:url(/sendtophone/phone-pound.png) no-repeat;
	margin:0 auto 2px auto;
}
.phone-enter-number {
	border:none;
	text-align:center;
	font-size:34px;
	font-weight:bold;
	text-shadow:0px 2px 0px #fff;
	font-family:Arial, Helvetica, sans-serif;
	height:73px;
	width:300px;
	background:url(/sendtophone/bg-top.gif) repeat-x;
	-webkit-appearance: none;
    border-radius: 0;
	
}

input.placeholder {
    text-align: center;
}

.choose-carrier-wrapper {
	height:64px;
	position:relative;
	width:100%;
	background:url(/sendtophone/bg-choose.gif) repeat-x;	
}
.choose-carrier {
	width:215px;
	overflow:hidden;
}
.choose-carrier-selections {
	background:url(/sendtophone/phone-carrier.gif) no-repeat -10px 0px;
	border:none;
	color:#FFF;	
	font-family:Arial, Helvetica, sans-serif;
	position:absolute;
	top:0;
	left:0;
	width:200px;
	height:63px;
	padding-top:42px;
	padding-left:26px;
	cursor:pointer;
	-webkit-appearance: none;
	 -moz-appearance: none;
	 appearance: none;
	 font-size:14px;
	 font-weight:bold;
	 background-color:#000;
	 color:#fff;
	 -webkit-appearance: none;
    border-radius: 0;
}

.choose-carrier-selections:hover {
	background-position:-10px -63px;
}
.choose-styled {
}

.submit-phone {
	height:64px;
	width:107px;
	background:url(/sendtophone/send.gif) no-repeat;
	border:none;
	position:absolute;
	top:-1px;
	right:0;
	cursor:pointer;	
	-webkit-appearance: none;
    border-radius: 0;
}
.phone-notify-bg{
	background-color:#000;
	width:300px;
	height:60px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
 	box-shadow: 0px 0px 12px #000;
	-webkit-box-shadow: 0px 0px 12px #000;
	-moz-box-shadow: 0px 0px 12px #000;			
}
.phone-notify-txt {
	position:absolute;
	top:0;
	left:0;
	width:300px;
	height:60px;
}
.phone-notify {
	position:absolute;
	top:10px;
	right:10px;
	width:300px;
	height:60px;
	z-index:10000;
}
.phone-notify img {
	float:left;
	padding:10px 15px 0px 15px;
}
.phone-notify p {
	color:#FFF;
	font-weight:bold;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:20px;
	text-shadow:0px 1px 1px #000;
}

/* Validation Message: Server-Side */
.needsfilledphone {
	background-position:-10px -126px;
}


